<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{site_title}}
  </h1>
</div>

<div class="container">
  <div class="one-half column">
    <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search records" />
    <ul class="heroes">
      <li *ngFor="let record of records | FilterSearchPipe: queryString"
        [class.selected]="record === selectedRecord"
        (click)="onSelect(record)">
        <span class="badge">{{record.id}}</span>{{record.artist}}, {{record.title}} ({{record.year}})
      </li>
    </ul>
  </div>
  <div class="one-half column">
    <record-detail [record]="selectedRecord"></record-detail>
  </div>
</div>
