<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{site_title}}
  </h1>
</div>

<div class="container">
  <div class="one-half column scroll">
    <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search records" />
    <ul class="heroes">
      <li *ngFor="let record of records | FilterSearchPipe: queryString"
        [class.selected]="record === selectedRecord"
        (click)="onSelect(record)">
        <span class="badge">{{record.id}}</span><span *ngIf="record.artist">{{record.artist}}, </span><span *ngIf="record.title">{{record.title}}</span><span *ngIf="record.year">({{record.year}})</span>
      </li>
    </ul>
  </div>
  <div class="one-half column">
    <record-detail [record]="selectedRecord"></record-detail>
  </div>
</div>
