<div *ngIf="record">
  <h2>{{record.title}}<div *ngIf="record.year"> ({{record.year}})</div></h2>
  <div *ngIf="record.artist"><strong>Artist:</strong> {{record.artist}}</div>
  <div *ngIf="record.genre"><strong>Genre:</strong> {{record.genre}}</div>
  <div *ngIf="record.label"><strong>Label:</strong> {{record.label}}</div>
  <div *ngIf="record.number"><strong>Number:</strong> {{record.number}}</div>
  <div *ngIf="record.cost"><strong>Cost:</strong> {{record.cost}}</div>
  <div *ngIf="record.image"><img src="{{record.image}}" width="250" /></div>
  <div *ngIf="record.notes"><label>Notes: </label>{{record.notes}}</div>
</div>

